# -------------------------
# IDE
# -------------------------
.idea/
*.iml
.settings
.project
.classpath
# -------------------------
# Maven
# -------------------------
target/
dependency-reduced-pom.xml
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
pom.xml.versionsBackup
# -------------------------
# OSX
# -------------------------
.DS_Store
# -------------------------
# AS
# -------------------------
_jboss/
_tmp/
# -------------------------
# No process pngs
# -------------------------
extension/**.png
.tmp
