# -------------------------
# IDE
# -------------------------
.idea/
*.iml
.settings
.project
.classpath
# -------------------------
# Maven
# -------------------------
target/
dependency-reduced-pom.xml
# -------------------------
# OSX
# -------------------------
.DS_Store
# -------------------------
# AS
# -------------------------
_jboss/
_tmp/
# -------------------------
# No process pngs
# -------------------------
extension/**.png
